.header-nav {
    background-color: #e7e5dbd7;
    padding: 5px 0;
    position: relative;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.header-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav li:first-child {
    position: absolute;
    left: 20px;
}

.header-nav li {
    display: inline

}

.header-nav a {
    
    color: rgb(90, 86, 86);
    text-decoration: solid;
    font-size: 25px;
    padding: 2px 8px;
}

.header-nav a:hover {
    font-family: 'Georgia', 'Times New Roman', serif;
    color: #000000;
}
.header-nav li:first-child img {
    /* border: auto; */
    width: 40px;
    object-fit: cover;
    /* height: 30px; */
}
